<form ng-init='init()' ng-submit="submit()" class="form-horizontal">

  <dynamic-form ng-model="ldapForm"
                template-url="requestUrl"
                label-class='col-sm-3 control-label'
                rm-container-class = 'col-sm-3'
                remove-class = 'btn btn-danger btn-sm active'>
    <h1>Form is loading...</h1>
  </dynamic-form>
  <button type="submit" class="btn btn-primary active">Save Entry</button>

  <div class="col-md-12">
    <pre>ldapForm: {{ldapForm | pretty}}</pre>
  </div>
</form>
