<div ng-controller = "FormCtrl" class = "col-md-offset-1">

  <div ng-repeat = 'key in currentAttributes'>

    <div class = 'form-group' ng-repeat = 'element in key.values' ng-show = "currentAttributesVisible[key.keyattribute][$index]">

      <%= f.label "{{key.description}}", class: 'col-sm-3 control-label' %>
      <div class = "col-sm-5">
        <%= text_field 'group_data[{{key.keyattribute}}]', '{{element}}', value: '{{element}}', class: 'form-control' %>
      </div>
      <div class = "col-sm-3">
        <span ng-click = "removePresetField(key.keyattribute, $index)" class = "btn btn-danger btn-sm active">Remove</span>
      </div>

    </div>
    <br/>
  </div>

  <%= render 'new_attribute_fields', f: f %>

</div>