<h1>Display [ID] User information here</h1>

<table class = "table">
  <tbody>
  <tr>
    <td class="col-md-3">Username</td>
    <td>George</td>
  </tr>
  <tr>
    <td class="col-md-3">Email</td>
    <td>George@myemail.com</td>
  </tr>
  <tr>
    <td class="col-md-3">Directory</td>
    <td>/homes/csgeorge</td>
  </tr>
  <tr>
    <td class="col-md-3">UidNumber</td>
    <td>123</td>
  </tr>
  <tr>
    <td class="col-md-3">GidNumber</td>
    <td>321</td>
  </tr>
  </tbody>

</table>

