<h1>Admin Contact Information</h1>
<p>
  Author: George Karaszi </br>
  Email: GeorgeKaraszi@gmail.com george.j.karaszi@wmich.edu </br>
  Linkedin:<%= link_to("George Karaszi @ Linkedin", "https://www.linkedin.com/in/georgekaraszi") %> </p>
