<div ng-controller="FormTest">

<dynamic-form ng-model="userData"
              field-class = 'col-sm-5'
              label-class='col-sm-3 control-label'
              rm-container-class = 'col-sm-3'
              remove-class = 'btn btn-danger btn-sm active'>
</dynamic-form>

</div>