<div ng-controller="FormTest">

<dynamic-form ng-model="userData"
              active-model="activeFields"
              inactive-model="inactiveFields"
              document-model="documentModel"
              label-class='col-sm-3 control-label'
              rm-container-class = 'col-sm-3'
              remove-class = 'btn btn-danger btn-sm active'>
</dynamic-form>


  <span ng-click = "appendData()" class = "btn btn-danger btn-sm active">TestAppend</span>


  <div class="col-md-12">
    <pre>userData: {{userData | pretty}}</pre>
    <pre>inactiveFields: {{inactiveFields | pretty}}</pre>
    <pre>documentModel: {{documentModel}}</pre>
  </div>
</div>