

<dynamic-form ng-model="ldapEntry"
              active-model="activeFields"
              inactive-model="inactiveFields"
              document-model="documentModel"
              label-class='col-sm-3 control-label'
              rm-container-class = 'col-sm-3'
              remove-class = 'btn btn-danger btn-sm active'>
</dynamic-form>

  <div class="col-md-12">
    <pre>ldapEntry: {{ldapEntry | pretty}}</pre>
    <!--<pre>active_fields: {{active_fields | pretty}}</pre>-->
    <!--<pre>inactive_fields: {{inactive_fields | pretty}}</pre>-->
  </div>
